spring:
  datasource:
    url: jdbc:mysql://localhost:3306/menu-app?serverTimezone=UTC
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update

server:
  servlet:
    context-path: /api

app:
  security:
    user-code: my_identifier

#logging
logging:
  level:
    org.springframework.data: debug
